@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --softWhite: #f6f6f6;
  --black: #000;
  --softBlack: #1b1e1d;
  --grey: #5c6361;
  --softGrey: #8b9491;
}

body {
  font-family: "Fira Sans", sans-serif;
}

.header-container {
  margin: 2rem 0 0 15rem;
}

.menu img {
  width: 5rem;
  position: relative;
}

.list-menu {
  position: absolute;
  top: 2.5rem;
  right: 15rem;
  display: flex;
  list-style: none;
  gap: 5rem;
}

.list-menu a {
  text-decoration: none;
  color: var(--softBlack);
  font-size: 1.2rem;
}

.list-menu a:hover {
  color: var(--grey);
}

.home {
  display: flex;
  width: 100vh;
  margin: 7rem 0 0 15rem;
  position: relative;
}

.home img {
  width: 30rem;
}

.home-info {
  margin: 6rem 15rem;
}

.home-info::before {
  position: absolute;
  content: url(../assets/icon/header-deco.svg);
  z-index: -1;
  margin: -2rem 0 0 -4rem;
}

.home-info h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  line-height: 1.1;
}

.home-info p {
  font-size: 1.5rem;
}
